<h2 class="text-2xl font-bold mb-4">Welcome to CraftJS</h2>
<p class="text-lg">
  starter kit backend framework powered by Express, TypeScript, EJS Engine, and
  Prisma — designed for rapid development, simplicity, and scalability.
</p>
<a href="https://www.npmjs.com/package/@muhammadisa226/craftjs"></a>
